@font-face {
  font-family: "Play";
  src: url("./fonts/play-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Play";
  src: url("./fonts/play-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-family: "Play", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
  transition: all 0.3s ease;
}

p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1020px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
}
